@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
--desaturated-dark-blue: hsl(214, 17%, 51%);
--grayish-blue: hsl(212, 23%, 69%);
--light-grayish-blue: hsl(210, 46%, 95%);
--font-size: 0.813rem;
--font-weight-500: 500;
--font-weight-700: 700;
--font-family: "Manrope", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: var(--light-grayish-blue);
 color: var(--grayish-blue);
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: var(--font-size);
 font-family: var(--font-family);
}

button {
 cursor: pointer;
}
