@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsla(212, 23%, 69%, 1);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --font-size: 0.813rem;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-family: 'Manrope', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-grayish-blue);
  color: black;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
input,
button {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

button,
a {
  cursor: pointer;
}

.container {
  background: white;
  max-width: 50rem;
  border-radius: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_section,
.note_section {
  flex: 1;
}

.image_section {
  background-image: url('../images/drawers.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 1rem 1rem 0 0;
  padding: 6rem;
}

.note_section {
  width: 100%;
  margin: 2rem auto 1rem;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  gap: 2.5rem; */
}

.note {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}

.note h3 {
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);
  font-weight: var(--font-weight-700);
}

.note p {
  font-size: 0.86rem;
  font-weight: var(--font-weight-500);
  color: var(--grayish-blue);
}

.profile_section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 10%;
}

.profile img {
  width: 3rem;
  border-radius: 50%;
}

.name_and_date {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: baseline;
  justify-content: center;
}

.name {
  color: var(--very-dark-grayish-blue);
  font-weight: var(--font-weight-700);
}

.date {
  color: var(--grayish-blue);
}

.share_image {
  background: var(--light-grayish-blue);
  padding: 0.7rem;
  border-radius: 50%;
  position: relative;
  right: 3rem;
}

@media screen and (min-width: 40rem) {
  .container {
    flex-direction: row;
    gap: 2rem;
  }

  .image_section {
    border-radius: 1rem 0 0 1rem;
    height: 23rem;
    width: 100%;
    background-position: 2% 70%;
    flex: 1;
  }
  .bottom_section {
    flex: 5;
  }

  .note_section {
    flex: 1.5;
    width: 100%;
    margin-right: 3rem;
  }

  .social {
    display: flex;
    background: var(--very-dark-grayish-blue);
    position: absolute;
    display: flex;
    bottom: 24rem;
    left: 30.5rem;
    border-radius: 0.6rem;
    width: 40%;
  }
  .social::after {
        position: absolute;
        content: '';
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: var(--very-dark-grayish-blue) transparent transparent;
    }

}

@media screen and (min-width: 50rem) {
  .social{
    left: 37.8rem;
    bottom: 25rem;
  }
}
.profile_section {
  border-radius: 0 0 1rem 1rem;
}

.social {
  display: none;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 0;
  margin-right: 0.5rem;
}

.social h3 {
  text-transform: uppercase;
  color: var(--light-grayish-blue);
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  font-weight: var(--font-weight-500);
}

.social_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
